body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: #fff;
    color: #000000;
    font: 16px/24px Ubuntu, sans-serif;
    min-width: 990px;
}

p {
    margin: 0 0 10px;
    line-height: 24px;
}

h1 {
    margin-bottom: 30px;
    font-size: 4.0rem;
}

code {
    font-size: 13px;
}

h2 {
    font-size: 26px;
}

h2, h3 {
    border-bottom: 1px solid #c0c0c0;
}

h3, h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    margin: 17px 0 3px;
    border-bottom: 1px solid #c0c0c0;
}

#wrapper #articles {
    padding: 10px 20px 15px;
    text-align: left;
    background: #fafafa;
}

#wrapper #articles img {
    width: 100%;
}

#wrapper #sidebar #description {
    margin-bottom: 10px;
    font-size: 1.7rem;
}

#wrapper #content .post .copy blockquote {
    color: #333;
    line-height: 24px;
    padding: 10px;
    background: #fafafa;
    text-align: left;
}

#wrapper #content .bottom,
#wrapper #sidebar #bottom {
    background: none;
}

#wrapper #content {
    padding-top: 0;
    margin-top: 30px;
}

#wrapper #sidebar {
    padding-top: 0;
    margin-top: 0;
}

#sidebar .widget {
    margin-bottom: 1em;
}

#sidebar .hr {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000000;
}
/*#wrapper li {*/
    /*line-height: 24px;*/
/*}*/

/*#wrapper ul {*/
    /*margin-top: 15px;*/
/*}*/

#wrapper p {
    color: #333;
}

#wrapper #content .post .copy pre.sh_sourceCode, pre.sh_sourceCode {
    border: none;
    border-left: 3px solid #0ec281;
    border-radius: 0;
    background: #f5f5f5;
    color: #111;
    margin-top: 7px;
    margin-bottom: 7px;
}

#wrapper #content .post .footer {
    background: #fafafa;
    color: #717171;
    padding: 20px;
    margin-bottom: 15px;
}

#wrapper #content .post em {
    color: #717171;
}

#wrapper #content .post .copy p {
    margin: 10px 0 0 0;
    padding: 0;
    line-height: 26px;
}


.horizontal-ruler {
    padding: 20px;
    color: #dadada;
    font-size: 12px;
}

pre.prettyprint {
    padding: 8px;
}

.heading a {
    color: #fff;
}


.heading h2 {
    color: #fff;
    border: none;
}

div#articles a {
    color: #005399;
}

blockquote {
    font-size: 14px;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: #fff;
    color: #000000;
    font: 16px/24px Ubuntu, sans-serif;
    min-width: 990px;
}

a {
    color: #118f9e;
}

a:hover {
    color: #000;
}

a:visited {
    color: #767676;
}

p {
    margin: 15px 0;
}

pre {
    margin: 0;
}

/* layout */
.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}

.wrapper {
}

/** Sidebar */
.sidebar {
    border-right: 1px solid #f0f2f1;
    width: 200px;
    float: left;
}

.sidebar > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar > ul > li {
    padding: 0 0 10px;
    margin: 1em 0 0
}

.sidebar > ul > li > ul {
    border-top: 1px solid rgba(37, 82, 95, 0.9);
    display: block;
    list-style: none;
    margin: .5em 0 0;
    padding: .5em 0 0;
    font-size: 14px
}

.sidebar a {
    line-height: 1.5
}




/* elements */
header .navbar {
    margin-top: -15px
}
header .navbar-toggle {
    border-color: #fff;
    margin-top: 15px
}
header .navbar-toggle span {
    background: #fff
}
header .phalcon-logo {
    display: block;
    width: 200px;
    height: 90px;
    background: url(//static.phalconphp.com/www/images/phalcon.png) 0 0/200px 90px no-repeat
}
header .main-menu {
    margin-top: 38px
}
header .main-menu li {
    margin: 0 3px
}
header .main-menu li a {
    color: #fff;
    font-size: 17px;
    text-shadow: 1px 1px 1px #0e566a;
    padding: 8px 18px
}
header .main-menu li a:hover {
    color: #bae1e6;
    background-color: transparent
}
header .main-menu li a.active {
    color: #bae1e6;
    background-color: rgba(0, 0, 0, .15);
    -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, .2);
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    border-radius: 18px
}
header .dropdown-menu {
    background: rgba(255, 255, 255, .6)
}
header .dropdown-menu li a {
    font-size: 12px;
    color: #4d4a4c;
    text-shadow: none;
    background: transparent no-repeat 8px 6px;
    padding: 4px 0 4px 32px
}
header .dropdown-menu li a:hover {
    background-color: rgba(255, 255, 255, .4);
    color: #4d4a4c
}
header .tagline {
    margin-top: 50px;
    text-align: center
}
header .tagline h1 {
    font-size: 22px;
    font-weight: 700
}
header .tagline p {
    font-size: 16px
}
header .tagline p a {
    color: #4d4a4c;
    border-bottom: 1px dotted #4d4a4c
}
header .tagline p a:hover {
    color: #4d4a4c;
    border-bottom: 1px solid #4d4a4c
}
header .anim {
    width: 100%;
    height: 400px
}
header .sublinks {
    color: #97c6ad
}
header .sublinks a {
    font-size: 13px;
    color: #4d4a4c;
    margin-left: 10px;
    margin-right: 10px
}
header .sublinks a:hover {
    border-bottom: 1px dotted #4d4a4c;
    margin-right: 10px
}



.header {
    padding: 55px 0 20px;
    margin: 0 0 30px;
}

.header-logo {
    display: block;
    float: left;
    padding: 0 0 0 85px;
    margin: -4px 0 0;
    color: #000;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

a.header-logo {
    color: #000;
}

.logo-text {
    display: block;
    width: 98px;
    height: 28px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/logo-text.png');
}

.header-logo:before {
    content: '';
    display: block;
    width: 82px;
    height: 82px;
    background: url('../img/logo.png') 0 0;
    position: absolute;
    top: -37px;
    left: 0;
}

.header-right {
    width: 160px;
    float: right;
    margin-top: -7px;
}

.header-nav {
    list-style: none;
    margin: 0 230px 0 230px;
    padding: 0;
    text-align: center;
}

.header-nav li {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 20px;
    padding: 0;
}

.header-nav li:first-child {
    margin: 0;
}

.header-nav-link {
    color: #000;
    font-size: 16px;
    line-height: 18px;
}

a.header-nav-link {
    color: #000;
}

.page-header {
    margin: 0; border: none; padding-top: 20px;
    -webkit-box-shadow: 0 0 3px 0 rgba(37, 82, 95, 0.9);
    box-shadow: 0 0 3px 0 rgba(37, 82, 95, 0.9);
    background:url(../img/texture.png) repeat-x;
    z-index: 100;
}

.footer {
    background:url(../img/texture.png) repeat-x;
    padding: 60px 0 80px
}
.footer h4 {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff
}
.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}
.footer ul li {
    padding: 3px 0
}
.footer ul li a {
    font-size: 13px;
    color: #f2f2f2;
}
.footer ul li a:hover {
    color: #c0c6cf;
    border-bottom: 1px dotted #c0c6cf
}
.footer #license-wrapper {
    background: url(//static.phalconphp.com/www/images/phalcon3.png) 10px 0/74px 85px no-repeat
}
.footer #license-spaccer {
    float: left;
    height: 50px;
    width: 100%
}
.footer .license {
    padding-left: 90px;
    background-size: 74px 85px;
    color: #f2f2f2;
    font-size: 12px;
    line-height: 18px
}
.footer .license a {
    color: #f2f2f2;
    border-bottom: 1px dotted #6d7481
}
.footer .license a:hover {
    color: #c0c6cf;
    border-bottom: 1px solid #c0c6cf
}
.footer .design {
    padding-left: 90px;
    margin-top: 30px;
    font-size: 11px;
    text-transform: uppercase;
    color: #f2f2f2
}
.footer .design a:hover {
    opacity: 1
}
.footer .design a span {
    display: none
}
