
body {
    color: #333333;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    line-height: 1.231;
    text-align: center;
}

h2 {
	font-family: "Open Sans",sans-serif;
	font-style: normal;
	letter-spacing: normal;
	color: #333333;
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	margin: 25px 0 0;
}

p, li {	
	color: #434343;
    font-size: 16px;    
    line-height: 24px;
    margin-left: 0;
    min-height: 0;    
}

td.primary-box li {	
	padding: 0px;
	line-height: 16px;
	margin-bottom: 0px;
	font-size: 14px;
}

td.second-box li {	
	margin-bottom: 0em;
}

td.second-box li.toctree-l1 {
	font-size: 14px;
	margin: 0px;
}

td.second-box li.toctree-l1 a {		
	font-size: 14px;	
	margin-bottom: 0em;
}

td.primary-box {	
	padding: 10px;
	padding-right: 20px;
	padding-top: 15px;
	text-align: left;
}

td.primary-box ul {
	margin-left: 0px;
	padding-left: 5px;
}

td.primary-box li {
	margin-left: 0px;
	padding-left: 5px;
}

td.primary-box a {
	color: #0088CC;	
	font-size: 13px;
	line-height: 20px;
	text-decoration: none;
}

td.second-box {
	padding: 30px 15px 10px 10px;
	max-width: 650px;
	text-align: left;
}

div.documentwrapper h1 {
	color: #000000;
	display: block;
	/*font: italic 36px Georgia,"Times New Roman",Times,serif;
	letter-spacing: -3px;
	text-rendering: optimizelegibility;*/
	font: 400 30px/44px 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;
	margin: 0;
}

div.section {
	margin-top: 10px;
}

a.headerlink {
	color: #dadada;
	font-size: 18px;
	margin-left: 10px;
}

div.related {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 95%;
}

div.related li {
	float: left;
	padding-right: 20px;
	list-style: none outside none;	
}

div.related a {
	font-size: 13px;
}

div.related li.right {
	float: right;
	padding-right: 0px;
	list-style: none outside none;
	color: white;	
	margin-right: 5px;
}

div.related li.right a {
	background: #339A6B;
	padding: 10px;
	border-radius: 5px;
	color: #fff;	
}

.align-center {
	text-align: center;
}

p.versionadded {
	background: none repeat scroll 0 0 #A8CEBB;
	font-size: 15px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 5px;
}

p.versionchanged,
blockquote.highlights {
	color: #414141;
	font-family: "Open Sans",sans-serif;    
	background: none repeat scroll 0 0 #D5E9F6;
	line-height: 24px;
	padding: 10px;
	text-align: left;
	text-rendering: optimizelegibility;
	font-size: 15px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;	
}

blockquote.highlights {
	padding: 10px;
}

span.versionmodified {
	font-style: italic;
}

div.highlight {
	background: none repeat scroll 0 0 #212121;    
	margin: 7px 5px 5px;
	max-width: 95%;
	overflow-x: scroll;	
	text-align: left;
	margin-left: 0px;
	/*padding: 5px;*/
}

div.highlight,
blockquote {
	background: none repeat scroll 0 0 #212121;
	font-family: Consolas,"Lucida Console",monospace;
	font-size: 14px;
	line-height: 18px;
	color: #DCDCCC;	
	margin: 0 0 0 15px;
	padding: 2px;
}

div.highlight span,
blockquote span {
	font-family: Consolas,"Lucida Console",monospace;
	font-size: 14px;
	line-height: 18px;
}

blockquote {
	padding: 3px;
}

blockquote p {
	font-size: 14px;
	line-height: 18px;
	color: #DCDCCC;		
}

p.topless {
	margin: 0px;
	padding: 0px;
}

div.figure {
	padding: 10px;
}

.highlight .cp {
    color: #DCDCCC;
}

.highlight .nb {
    color: #EFDCBC;
}

.highlight .k {
    color: #F0DFAF;
    font-weight: bold;
}

.highlight .c1,
.highlight .cm {
	color: #7F9F7F;
    font-style: italic;
}

.highlight .nx {
    color: #FAFAFA;
}

.highlight .na {
	color: #EFDCBC;
}

.highlight .s,
.highlight .s1,
.highlight .s2 {
	color: #CC9393;
}

.highlight .nv {
	color: #EFDCBC;
}

.highlight .o {
    color: #DCDCCC;
}

.highlight .nc {
    color: #fafafa;
    font-weight: bold;
}

.highlight .nf {
	color: #fafafa;
    font-weight: bold;
}

.highlight .mi {
	color: #8CD0D3;
}

.highlight .nt {
	color: #919191;
}

.highlight .sd {
    color: #7F9F7F;
    font-style: italic;
}

.highlight .se {
    color: #ababab;
    font-weight: bold;
}

.highlight .kn {
    color: #FAFAFA;
    font-weight: bold;
}

.highlight .sr {
    color: #DADADA;
}

table.docutils {
	border-collapse: collapse;
	border-top: 1px solid #ABABAB;
    border-left: 1px solid #ABABAB;
    margin-left: auto; 
    margin-right: auto;
    width: 90%;
    margin-bottom: 15px;
}

table.docutils td,
table.docutils th {
	color: #434343;
	border-bottom: 1px solid #ABABAB;
    border-right: 1px solid #ABABAB;
    font-size: 1.2em;
    padding: 5px;
}

table.docutils th {
	background: none repeat scroll 0 0 #DADADA;
	text-align: center;
}

table.docutils tr {
	padding: 0px;
	margin: 0px;
}

